<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#5D1313">
    <title>Fathima | Home</title>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/aos.css" />
    <link rel="stylesheet" href="/css/mediaQuery.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body class="main-bg">
    {{>header}}

    <!-- Banner  -->

    <section class="banner no-p-m">
        <div class="container">
            <div class="no-p-m">
                <div class="banner-div">
                    <p class="banner-caption" data-aos="fade-right">
                        WE <br>
                        <strong>CARE</strong> ABOUT <br>
                        <strong>YOUR HEALTH</strong>
                    </p>
                    <button class="btn btn-salmon"><strong>CONTACT</strong></button>
                    <img src="/images/Group 15.png" alt="banner" class="img-fluid banner-img" data-aos="fade-left">
                </div>
               
            </div>
        </div>
    </section>

    <!-- Treatment -->

    <section class="treatment">
        <div class="container">
            <!-- Caption -->
            <div class="tmt-captions">
                <strong>TREATMENT</strong>
            </div>
            <div class="row" data-aos="fade-up" data-aos-offset="100">

                <!-- diabetes -->
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="tmt-tiles">
                        <img src="/images/diabetes.jpg" alt="diabetes" class="img-fluid tmt-img">
                        <div class="tmt-text">
                            <strong class="tmt-name">Diabetes</strong>
                            <p class="tmt-disc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>

                <!-- Skin -->
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="tmt-tiles">
                        <img src="/images/skin.jpg" alt="diabetes" class="img-fluid tmt-img">
                        <div class="tmt-text">
                            <strong class="tmt-name">Skin</strong>
                            <p class="tmt-disc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>

                <!-- Thyroid -->
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="tmt-tiles">
                        <img src="/images/thyroid.jpg" alt="diabetes" class="img-fluid tmt-img">
                        <div class="tmt-text">
                            <strong class="tmt-name">Thyroid</strong>
                            <p class="tmt-disc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>

                <!-- Slim -->
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="tmt-tiles">
                        <img src="/images/slim.jpg" alt="diabetes" class="img-fluid tmt-img">
                        <div class="tmt-text">
                            <strong class="tmt-name">Slim</strong>
                            <p class="tmt-disc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>

                <!-- Migraine -->
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="tmt-tiles">
                        <img src="/images/migraine.jpg" alt="diabetes" class="img-fluid tmt-img">
                        <div class="tmt-text">
                            <strong class="tmt-name">Migraine</strong>
                            <p class="tmt-disc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>

                <!-- Sexual-problem -->
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="tmt-tiles">
                        <img src="/images/sex-problem.jpg" alt="diabetes" class="img-fluid tmt-img">
                        <div class="tmt-text">
                            <strong class="tmt-name">Sexual Problem</strong>
                            <p class="tmt-disc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>  

                <!-- Prostatitis -->
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="tmt-tiles">
                        <img src="/images/prostites.jpg" alt="diabetes" class="img-fluid tmt-img">
                        <div class="tmt-text">
                            <strong class="tmt-name">Prostatitis</strong>
                            <p class="tmt-disc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>

                <!-- Hair Loss -->
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="tmt-tiles">
                        <img src="/images/hair-loss.jpg" alt="diabetes" class="img-fluid tmt-img">
                        <div class="tmt-text">
                            <strong class="tmt-name">Hair Loss</strong>
                            <p class="tmt-disc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </section>
    <section id="about-cnt" class="about">
        <div class="container"  data-aos="fade-up">
            <div class="aboutLogo text-center">
                <img src="/images/Logo.png" alt="logo" class="img-fluid" width="200">
            </div>
            <p class="p-about text-center text-white mb-5">Ayurveda- the sciences of life, is the world’s oldest system of health care. It has strong
                philosophical foundations,
                unquestionable scientific veracity, everlasting practical methodology and eternally vibrant innovativeness.
                Ayurveda is
                the first medical system in the world to define the word HEALTH as a balanced and coordinated functioning of
                the
                physical mental and spiritual faculties.</p>
    
        </div>
    </section>
    <section class="quotes" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="/images/doctor.png" alt="doctor" class="img-fluid qoute-img">
                </div>
                <div class="col-md-6 qoutes-div">
                    <img src="/images/qoutes.png" alt="qoutes" class="img-fluid q-img q-img-top">
                    <p class="qoute-p">At Ayurmudhra Ayurvedic Centre, our focus is on authentic Ayurveda rather than just wellness. Every guest's treatment
                    plan is responsibly selected and customized to his or her specific needs - as the doctors of ayurmudhra Centre comprise
                    the full expertise of Ayurv edic academic studies as well as the knowledge and experience of more than six generations
                    of Ayurvedic doctors. They give clear recommendations for their patients' health improvement and overall well-being</p>
                    <img src="/images/qoutes.png" alt="qoutes" class="img-fluid q-img q-img-bottom">
                </div>
            </div>
        </div>
    </section>

    {{>footer}}

</body>

</html>