<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#5D1313" />
    <title>Fathima | Home</title>
    <link
      href="https://fonts.googleapis.com/css?family=Sofia"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/aos.css" />
    <link rel="stylesheet" href="./css/mediaQuery.css" />
    <script src="./js/jquery.js"></script>
    <script src="./js/bootstrap.min.js"></script>
  </head>

  <body class="main-bg">
      <section class="banner-img-bg">
        <div class="black-shade">
            {{>header}}
            <div class="page-banner">
                <div class="container text-center">
                    <strong class="banner-caption">TREATMENT</strong><br>
                        <div class="path mt-4">
                            <a class="path-item" href="/">Home</a> <span class="path-sep text-white"> /</span> 
                            <a class="path-item active" aria-current="page">Treatment</a>
                        </div>
                </div>
            </div>
        </div>
      </section>

      <section class="d-content">
          <div class="container">
              <div class="content-div mb-5">
                  <div class="row">
                    <div class="col-md-4 mb-4">
                        <img src="./images/diabetes-1.png" alt="diabetes" class="img-fluid">
                    </div>
                    <div class="col-md-4 mb-4">
                        <img src="./images/diabetes-1.png" alt="diabetes" class="img-fluid">
                    </div>
                    <div class="col-md-4 mb-4">
                        <img src="./images/diabetes-1.png" alt="diabetes" class="img-fluid">
                    </div>
                  </div>
                    <div class="row">
                      <div class="col-md-6">
                          <div>
                              <strong class="content-heading">Diabetes</strong>
                          </div>
                          <div>
                                <p class="content-disc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.</p>
                          </div>
                      </div>
                      <div class="col-md-6">
                        <div>
                            <strong class="content-heading">Package</strong>
                        </div>
                        <div>
                            <p class="content-disc">Loremipsum | 25 dyas</p>
                        </div>
                    </div>
                  </div>
              </div>


            <div class="content-div">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <img src="./images/diabetes-1.png" alt="diabetes" class="img-fluid">
                    </div>
                    <div class="col-md-4 mb-4">
                        <img src="./images/diabetes-1.png" alt="diabetes" class="img-fluid">
                    </div>
                    <div class="col-md-4 mb-4">
                        <img src="./images/diabetes-1.png" alt="diabetes" class="img-fluid">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <strong class="content-heading">Diabetes</strong>
                        </div>
                        <div>
                            <p class="content-disc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard
                                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                make a type specimen
                                book.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <strong class="content-heading">Package</strong>
                        </div>
                        <div>
                            <p class="content-disc">Loremipsum | 25 dyas</p>
                        </div>
                    </div>
                </div>
            </div>



          </div>
      </section>

    {{>footer}}
  </body>
</html>
