                <div class="row">
                    <div class="dashboard-header">
                        <button class="btn btn-nav-open" onclick="openNav()"><img src="/images/icon/menu.png" alt="menu" class="img-fluid menu-btn"></button>
                        <a href="/dashboard/logout" class="btn btn-logout"><img src="/images/icon/switch.png" alt="" class="icon-img"><span>Logout</span></a>
                    </div>
                </div>