<section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="/images/Logo.png" alt="logo" class="img-fluid footer-logo">
                    <p class="myp footer-disc">Ayurveda- the sciences of life, is the world’s oldest system of health care.</p>
                </div>
                <div class="col-md-4">
                    <div  class="footer-headings">
                        <strong>Quick Links</strong>
                    </div>
                    <div class="footer-menu">
                        <a href="#" class="footer-links">Home</a>
                        <a href="#" class="footer-links">About</a>
                        <a href="#" class="footer-links">Treatment</a>
                        <a href="#" class="footer-links">Medicines  </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-headings">
                        <strong>Connect With Us</strong>
                    </div>
                    <p class="address myp">Opposite: indian oil petrol pump,</p>
                    <p class="myp">Trissure road,</p>
                    <p class="myp">Mankavu,</p>
                    <p class="myp">Calicut</p>
                    <button class="btn btn-footer"><strong>CONTACT</strong></button>
                </div>
            </div>
        </div>
    </section>

    <section class="privacy-footer">
        <div class="container">
            <p>Copyright 2021 diabetesandskincare.com All Rights Reserved | Privacy Policy | Support : Rbiz Group</p>
        </div>
    </section>

    <script src="/js/aos.js"></script>
    <script>
        AOS.init({
            offset: 200,
            duration:2000
        });
    </script>