@media (max-width: 576px) {
    .logo{
        width: 80px;
    }
    .banner-div{
        text-align: center;
    }
    .banner-caption {
        padding-top: 30px;
        font-size: 40px;
        color: #fff;
        line-height: 60px;
    }
    .banner{
        background-color: rgba(0, 0, 0, 0.35);
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .btn-salmon{
        background-color: #FFCDB2;
        color: #5d1313;
        border-radius: 50px;
        padding: 8px 40px;
    }
    .banner-img{
    max-height: 300px;
    left: 0;
    }
    .tmt-captions{
        width: 200px;
        font-size: 20px;
        top: -28px;
    }
    .tmt-disc{
        font-size: 12px;
    }
    .treatment{
        padding: 80px 0;
    }
    .footer{
        text-align: center;
    }
}
@media (min-width: 576px) {
    .logo{
        width: 100px;
    }
    .banner-img{
    max-height: 300px;
    }
    .banner{
    margin-bottom: 80px;
    }
    .tmt-captions{
        width: 200px;
        font-size: 20px;
        top: -28px;
        
    }
    .tmt-disc{
        font-size: 12px;
    }
    .treatment{
        padding: 80px 0;
    }
    .footer{
        text-align: center;
    }
}
@media (min-width: 768px) {
    .logo{
        width: 140px;
    }
    .banner-img{
    max-height: 350px;
    }
    .banner{
    margin-bottom: 80px;
    }
    .tmt-captions{
        font-size: 30px;
        top: -35px;
        width: 250px;
    }
    .tmt-disc{
        font-size: 14px;
    }
    .treatment{
        padding: 110px 0;
    }
    .footer{
        text-align: left;
    }
    
}
@media (min-width: 992px) {
    .treatment{
        padding: 150px 0;
    }
    .logo{
        width: 160px;
    }
    .main-menu-contact{
    border-radius: 25px;
    border: #fff 2px solid;
    }
    .banner-img{
    max-height: 400px;
    }
    .banner{
    margin-bottom: 100px;
    }
    .tmt-caption{
        text-align: center;
    }
    
}
@media (min-width: 1200px) {
    .logo{
        width: 200px;
    }
    .banner-img{
    max-height: 470px;
    }
    .banner{
    margin-bottom: 150px;
    }
    .tmt-caption{
        left: 40%;
    }
}