@media (max-width: 768px){
    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 0;
        overflow-x: hidden;
        transition: 0.5s;
        display: block;
    }
    .btn-close{
        display: block;
    }
    .sidemenu-link {
        display: flex;
    }
    .sidebar-header{
        display: flex;
    }
    .btn-nav-open{
        display: inline-flex;
        margin-right: auto;
    }
}