.login{
    background-color: #FFCDB2;
    min-height: 100vh;
}
.login-card{
    margin-top: 25px;
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.15);
}
.login-card header{
    background-color: #9A7D7D;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px
}
.dash-logo{
    max-height: 50px;
}
.login-body{
    padding: 50px;
}
.login-card input{
    width: 100%;
}
.enter-btn{
    padding: 8px 20px;
    border-radius: 30px;
    background-color: #FFCDB2;
    color: #fff;
    border: none;
}
.sidebar{
    background-color: #5D1313;
    min-height: 100vh;
    padding: 0;
}
.sidebar-header{
    background-color: #3B0B0B;
    text-align: center;
    padding: 20px;
}
.sidebar-header img{
    max-height: 40px;
}
.sidemenu{
    padding: 0;
    margin: 0;
}
.sidemenu-link{
    letter-spacing: 1px;
    border-left: 5px transparent solid;
    padding: 15px 15px 15px 30px;
}
.sidemenu-link:hover{
    background-color: #7E2020;
    border-left: 5px #fff solid;
    text-decoration: none !important;
}
.btn-close{
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
}
.btn-close img{
    height: 20px;
}
.inline{
    display: inline-block !important;
}
.menu-btn{
    height: 30px;
}
a:hover{
    text-decoration: none;
}
.sidemenu img{
    max-height: 18px;
}
.sidemenu-link strong{
    padding-left: 25px;
    color: #fff;
    font-size: 16px;
}
.dashbord-body{
    padding: 0;
}
.dashboard-header{
    width: 100%;
    background-color: #ececec;
    padding: 15px;
}
.btn-nav-open{
    display: none;
}
.btn-logout{
    background-color: #5D1313;
    border: none;
    color: #fff !important;
    font-weight: 500;
    border-radius: 10px;
    padding: 13px 18px;
}
.btn-logout:hover{
    background-color: #7E2020;
}
button:focus{
    outline: none;
}
.icon-img{
    max-height: 20px;
    margin-top: -5px;
    margin-right: 8px;
}
.count-div{
    height: 250px;
    background: rgb(93,19,19);
    background: linear-gradient(315deg, rgba(93,19,19,1) 35%, rgba(126,32,32,1) 100%);
    border-radius: 10px;
    margin: 15px 0;
}
.count-head{
    color: #fff;
}

.count-icon{
    min-height: 100px;
    position: absolute;
}
.nav-menu{
    background-color: #FFF;
    color: #000;
    padding: 10px 25px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;


}
.nav-menu.active{
    background-color: #EBEBEB;
    border-bottom: #5D1313 5px solid;
}
.form-bg{
    background-color: #f7dbcc;
    border-radius: 15px;
    padding: 15px;
}
.form-group label{
    font-weight: 600;
}
input:focus, textarea:focus{
    outline: none;
}
.btn-dash{
    background-color: #5D1313;
    border: none;
    color: #fff !important;
    font-weight: 500;
    border-radius: 10px;
    padding: 13px 38px;
}
.heading{
    font-size: 25px;
    margin-bottom: 25px;
    display: flex;
    padding-left: 10px;
}
.tmt-div-view{
    width: 100%;
    border: #e5e5e5 1px solid;
    padding: 10px;
    margin: 8px 0;

}
.tmt-div-view strong{
    margin-right: auto;
    font-size: 22px;
}
.dash-heading{
    color: #5D1313;
}
.img-bg{
    height: 220px;
    width: 100%;
    background-position: center;
    background-size: cover;
}
