.login{
    background-color: #FFCDB2;
    min-height: 100vh;
}
.login-card{
    margin-top: 25px;
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.15);
}
.login-card header{
    background-color: #9A7D7D;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px
}
.dash-logo{
    max-height: 50px;
}
.login-body{
    padding: 50px;
}
.login-card input{
    width: 100%;
}
.enter-btn{
    padding: 8px 20px;
    border-radius: 30px;
    background-color: #FFCDB2;
    color: #fff;
    border: none;
}